
    	table.imui-form:not(#agreement_detail) th {
    		width: 250px;
    	}

    	table.imui-form#agreement_detail th:first-child,
    	table.imui-form#agreement_detail th:nth-child(2) {
    		width: 125px;
    	}
    	
    	button {
    		border-radius:5px;
    		border: none;
    		padding: 4px 8px;
    	}
    	
    	
    	table.imui-form#estimated_schedule th:first-child,
    	table.imui-form#estimated_schedule td:first-child{
    		width: 100px;
    		text-align: center;
    	}
    	
    	@media screen and (max-width: 426px){
			table.imui-form:not(#agreement_detail) th {
				width: 150px;
				background: blue;
			}

			table.imui-form#agreement_detail th:first-child,
			table.imui-form#agreement_detail th:nth-child(2) {
				width: 75px;
			}
    	}